<h1 class="jumbotron text-center" style="color:white; background-color: skyblue; size: 50%;">Registration Form</h1>
<form #userRef="ngForm"(ngSubmit)="registerUser(userRef.value)">
    <div class="form-outline" style="font-size: 175%;">
        First Name<input type="text" name="fname" ngModel class="form-control"style="width: 35%" />
    </div>
    <div class="form-outline" style="font-size: 175%;">
        Last Name<input type="text" name="lname" ngModel class="form-control" style="width: 35%" />
    </div>
    <div class="form-outline" style="font-size: 175%;">
        Username<input type="text" name="user" ngModel class="form-control"style="width: 35%" />
    </div>
    <div class="form-outline" style="font-size: 175%;">
        Password <input type="password" name="pass" ngModel class="form-control" style="width: 35%" />
    </div>
    <br>
    <div>
        <button type="submit" style= "float: left" class="btn btn-primary">Sign Up</button>
        <button type="submit" style= "margin-left: 242px" class="btn btn-primary"routerLink="/login">Sign In</button> 
    </div>
    <div style="color: red">{{msg}}</div>>
</form>
