img{
    height: 200px;
    width: auto;
    float: right;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.article{
    font-size: 100%;
    border-radius: 30px;
    font-family: "Comic Sans MS";
    text-align: center; 
    text-align: justify;
    float: left;
    width: 23%;
    height: auto;
    min-height: 6;
    border: 5px solid darkblue;
    background-color: #B2D6FF;
    margin: 10px;
}
h1{
    color: #ECCCF3;
    font-family: "Comic Sans MS";
    padding-top: 30px;
    font-size: 375%;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
    height: 120px;
    background-color: #3A1154;
}
.links{
    font-family: "Comic Sans MS";
    text-decoration:none;
    color: #ECCCF3;
    margin-top: -40px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 15px;
    font-size: 200%;
    text-align: center;
    background-color: #3A1154;
}
.submitter{
    font-family: "Comic Sans MS";
    font-size: 200%;
}
.titleBox{
    position:relative;
    height: 30px;
    width: 200px;
    top: -10px;
    margin-bottom: 5px;
    margin-top: -5px;
}
.descBox{
    position:relative;
    top: 10px;
    height: 100px;
    width: 300px;
}