.box{
    width: 1000px;
    height: 500px;
    border: 10px solid black;
    padding: 50px;
    margin: 20px;
}
.text1{
    font-size: 450%;
}
.text2{
    font-size: 125%;
    color: blue;
}
.text3{
    font-size: 175%;
    color: red;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th{
    height: 10000%;
    font-size: 175%;
    border: 2px solid lightblue;
    background-color: #3368FF;
    color: white;
}
td{
    border: 2px solid lightblue;
    font-size: 150%;
    text-align: left;
    padding: 8px;
}