.box{
    width: 1000px;
    height: 550px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}
.text1{
    font-size: 300%;
    font-family:Verdana;
}
.text2{
    font-size: 125%;
    font-family:Verdana;
    color: blue;
}
.text3{
    font-size: 175%;
    font-family:Verdana;
    color: red;
}
table {
    font-family: verdana;
    border-collapse: collapse;
    width: 100%;
}
th{
    height: 10000%;
    border: 2px solid lightblue;
    background-color: #3368FF;
    color: white;
}
td{
    border: 2px solid lightblue;
    text-align: left;
    padding: 8px;
}